@keyframes zoomInBackground {
    from {
        transform: scale(0.20);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.background {
    position: fixed;   
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    z-index: -1;
    opacity: 0; 
    animation: zoomInBackground 2s ease-out forwards;
}

.table{
box-shadow: 0 1px 1px rgba(142, 41, 224, 0.075)inset, 0 0 8px rgba(184, 46, 202, 0.6);
}


.table th {
    text-align: center;
    background-color: rgb(241, 214, 235);
}

.table td  {
    text-align: center; 
    vertical-align: middle; 
    background-color: #eba3e7;
}

.form-group {
    margin-bottom: 1rem; 
  }
.text-muted {
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(241, 214, 235);
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #802980; 
}

.sidebar ul li a:hover {
    color: #e649c4; 
}

.sub-menu {
    display: none;
}

.sidebar ul li:hover .sub-menu {
    display: block;
}

body, html {
    background-color: rgb(241, 214, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #c245a7;  
}


