{% extends "index.html" %}
{% block title %}Confirma Eliminar un Producto?{% endblock %}
{% block content %}
<div class="container text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1>¿Estás seguro que querés eliminar el producto {{ producto.nombre }}?</h1>
    <form id="eliminarProductoForm" method="post" class="d-inline">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <button type="submit" class="btn btn-light">Eliminar</button>
                <a href="{% url 'listar_productos' %}" class="btn btn-dark">Volver</a>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("eliminarProductoForm");
    form.addEventListener("submit", function(event) {
        event.preventDefault(); 
        fetch(form.action, {
            method: form.method,
            body: new FormData(form),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: 'Producto eliminado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    if (result.dismiss === Swal.DismissReason.timer) {
                        window.location.href = "{% url 'listar_productos' %}";
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error al eliminar el producto',
                    text: 'Por favor, intenta nuevamente',
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>
{% endblock %}
