{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda de música{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{% static 'img/icons8-notas-musicales-48.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    {% block content %} 
</head>
<body>
    <div class="animated-background"></div>
    <nav class="sidebar">
        <h1 class="text-lila">Tienda de Música</h1>
        <ul>
            <li>
                <a href="{% url 'listar_proveedores' %}">
                    <i class="fas fa-users"></i>
                    Proveedores
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'agregar_proveedor' %}">Agregar Proveedor</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'listar_productos' %}">
                    <i class="fas fa-box"></i> 
                    Productos
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'agregar_producto' %}">Agregar Producto</a></li>
                </ul>
            </li>
            <li>
                <a class="color" href="{% url 'admin:index' %}">
                    <i class="fas fa-user-cog"></i>
                    Admin
                </a>
            </li>
        </ul>
    </nav>
<img src="{% static 'img\acousticguitar.jpg' %}" class="background" alt="fondo">
    <footer class="footer mt-auto py-2 fixed-bottom">
        <div class="container text-center">
            <span class="text-muted"> ©2024 - Ivanna López Barbona - Comisión 34 POO Alkemy</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>
</html>
