{% extends "index.html" %}
{% block title %}Listado de Productos{% endblock %}
{% block content %}
<div class="container">
    <h1>Listado de Productos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock Actual</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock_actual }}</td>
                <td>{{ producto.proveedor.nombre }} {{ producto.proveedor.apellido }}</td>
                <td>
                    <a href="{% url 'editar_producto' producto.pk %}" class="btn btn-light btn-sm">Editar</a>
                    <a href="{% url 'borrar_producto' producto.pk %}" class="btn btn-dark btn-sm">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-outline-dark" href="{% url 'index'  %}">Volver</a>
    </div>
</div>
{% endblock %}